body {
    font-family: Arial, sans-serif;
    background-color: #f3f4f6;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #2c3e50;    
    color: white;                  
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;    
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
}

.nav-title {
    font-size: 24px;
    font-weight: bold;
}

.main-container {
    max-width: 800px;          
    margin: 40px auto;
    padding: 0 16px;
}


.sort-form {
    margin-bottom: 20px;
}

.book-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.book-card {
    background: #fdfdfd;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    display: flex;               
    gap: 20px; 

}

.book-cover {
    width: 140px;         
    height: auto;
    border-radius: 4px;
    margin-right: 20px;
}

.book-info {
    flex: 1;                    
}
